// ****kích thước border****/
$border-xs: 1px;
$border-sm: 1.5px;
$border-md: 2px;
$border-lg: 2.5px;
$border-xl: 3px;
$border-2xl: 3.5px;
$border-3xl: 4px;

// ****kích thước border radius****/
$border-radius-xs: 8px;
$border-radius-sm: 16px;
$border-radius-md: 32px;
$border-radius-lg: 40px;
$border-radius-xl: 48px;
$border-radius-2xl: 56px;
$border-radius-3xl: 64px;
