$box-shadow-xs: 0 1px 2px rgba(16, 24, 40, 5%);
$box-shadow-sm: 0 1px 3px rgba(16, 24, 40, 10%), 0 1px 2px rgba(16, 24, 40, 6%);
$box-shadow-md: 0 4px 8px -2px rgba(16, 24, 40, 10%), 0 2px 4px -2px rgba(16, 24, 40, 6%);
$box-shadow-lg: 0 12px 16px -4px rgba(16, 24, 40, 8%), 0 4px 6px -2px rgba(16, 24, 40, 3%);
$box-shadow-xl: 0 20px 24px -4px rgba(16, 24, 40, 8%), 0 8px 8px -4px rgba(16, 24, 40, 3%);
$box-shadow-2xl: 0 24px 48px -12px rgba(16, 24, 40, 18%);
$box-shadow-3xl: 0 32px 64px -12px rgba(16, 24, 40, 14%);
