/** Cấu hình chung mặc định */

// font mặc định html
$font-family-custom: Inter, sans-serif;

// ****kích thước ****/
$size-xs: 0.5rem;
$size-sm-small: 0.9rem;
$size-sm: 1rem;
$size-md: 2rem;
$size-lg: 2.5rem;
$size-xl: 3rem;
$size-2xl: 3.5rem;
$size-3xl: 4rem;

// ****padding ****/
$xs: 4px;
$sm: 8px;
$md: 12px;
$lg: 16px;
$xl: 20px;
$xl-2: 24px;
$xl-3: 28px;
$xl-4: 32px;
$xl-5: 36px;
$xl-6: 40px;

// ****font-weight ****/
$weight-xs: 400;
$weight-sm: 500;
$weight-md: 600;
$weight-lg: 700;
$weight-xl: 800;
$weight-2xl: 900;
