/** Cấu hình chung mặc định */

// font mặc định html
$font-family-custom: inter, sans-serif;

// ****kích thước ****/
$size-xs: 0.5rem;
$size-sm-small: 0.9rem;
$size-sm: 1rem;
$size-md: 2rem;
$size-lg: 2.5rem;
$size-xl: 3rem;
$size-2xl: 3.5rem;
$size-3xl: 4rem;

// ****padding ****/
$padding-xs: 8px;
$padding-sm: 10px;
$padding-md: 12px;
$padding-lg: 14px;
$padding-xl: 16px;
$padding-2xl: 18px;
$padding-3xl: 20px;
$padding-4xl: 24px;
$padding-5xl: 32px;

// ****font-weight ****/
$weight-xs: 400;
$weight-sm: 500;
$weight-md: 600;
$weight-lg: 700;
$weight-xl: 800;
$weight-2xl: 900;
