@use "@/styles/variables/config/color" as *;

/*** Regular */
.display-regular-2xl {
  /* Display 2xl/Regular */
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 90px;
}

.display-regular-xl {
  /* Display xl/Regular */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 72px;
}

.display-regular-lg {
  /* Display lg/Regular */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 60px;
}

.display-regular-md {
  /* Display md/Regular */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 44px;
}

.display-regular-sm {
  /* Display sm/Regular */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.display-regular-xs {
  /* Display xs/Regular */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.text-regular-xl {
  /* Text xl/Regular */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.text-regular-lg {
  /* Text lg/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.text-regular-md {
  color: $color-gray-900;
  /* Text md/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-regular-sm {
  /* Text sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.text-regular-xs {
  /* Text xs/Regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

/*** Medium */

.display-medium-2xl {
  /* Display 2xl/Medium */
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 90px;
}

.display-medium-xl {
  /* Display xl/Medium */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 72px;
}

.display-medium-lg {
  /* Display lg/Medium */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 60px;
}

.display-medium-md {
  /* Display md/Medium */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 44px;
}

.display-medium-sm {
  /* Display sm/Medium */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}

.display-medium-xs {
  /* Display xs/Medium */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.text-medium-xl {
  /* Text xl/Medium */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.text-medium-lg {
  /* Text lg/Medium */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.text-medium-md {
  /* Text md/Medium */
  color: $color-gray-700;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.text-medium-sm {
  /* Text sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px;
}

.text-medium-xs {
  /* Text xs/Medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
/*** semibold */

.display-semibold-2xl {
  /* Display 2xl/semibold */
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 90px;
}

.display-semibold-xl {
  /* Display xl/semibold */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 72px;
}

.display-semibold-lg {
  /* Display lg/semibold */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 60px;
}

.display-semibold-md {
  /* Display md/semibold */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 44px;
}

.display-semibold-sm {
  /* Display sm/semibold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}

.display-semibold-xs {
  /* Display xs/semibold */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.text-semibold-xl {
  /* Text xl/semibold */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.text-semibold-lg {
  /* Text lg/semibold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.text-semibold-md {
  /* Text md/semibold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.text-semibold-sm {
  /* Text sm/semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.text-semibold-xs {
  /* Text xs/semibold */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

/*** bold */

.display-bold-2xl {
  /* Display 2xl/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 90px;
}

.display-bold-xl {
  /* Display xl/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 72px;
}

.display-bold-lg {
  /* Display lg/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 60px;
}

.display-bold-md {
  /* Display md/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 44px;
}

.display-bold-sm {
  /* Display sm/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.display-bold-xs {
  /* Display xs/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.text-bold-xl {
  /* Text xl/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.text-bold-lg {
  /* Text lg/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.text-bold-md {
  /* Text md/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.text-bold-sm {
  /* Text sm/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.text-bold-xs {
  /* Text xs/bold */
  color: $color-gray-900;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

//text
.text-label-default{
  color: $color-gray-700;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px;
}
