@use "./variables/global" as *;
html,
body {
  font-family: $font-family-custom !important;
  letter-spacing: normal !important;
}
.relative {
  position: relative;
}
.text-primary {
  color: $color-primary-600 !important;
}
.color-purple {
  color: $color-purple-600 !important;
}
.color-orange {
  color: $color-orange-600 !important;
}

// default
.color-error {
  color: $color-error-600 !important;
}

.color-warning {
  color: $color-warning-600 !important;
}

.color-dark {
  color: $color-gray-600 !important;
}

// color button 50
.color-bd-primary {
  color: $color-primary-600 !important;
  background-color: $color-white !important;
  border-color: $color-primary-300 !important;
}
.color-bd-error {
  color: $color-error-600 !important;
  background-color: $color-white !important;
  border-color: $color-error-300 !important;
}

.color-bd-warning {
  color: $color-warning-600 !important;
  background-color: $color-white !important;
  border-color: $color-warning-300 !important;
}

.color-bd-success {
  color: $color-success-600 !important;
  background-color: $color-white !important;
  border-color: $color-success-300 !important;
}

.color-bd-dark {
  color: $color-gray-600 !important;
  background-color: $color-white !important;
  border-color: $color-gray-300 !important;
}

.color-dark-300 {
  color: $color-gray-300 !important;
}

.color-success-300 {
  color: $color-success-300 !important;
}

.color-error-300 {
  color: $color-error-300 !important;
}
.color-error-700 {
  color: $color-error-700 !important;
}

.color-primary-300 {
  color: $color-primary-300 !important;
}

.color-warning-300 {
  color: $color-warning-300 !important;
}
.color-text-900 {
  color: $color-gray-900 !important;
}

.color-success {
  color: $color-success-600 !important;
}
.color-success-700 {
  color: $color-success-700 !important;
}
.color-primary {
  color: $color-primary-600 !important;
}

// full color
.full-error {
  background-color: $color-error-600 !important;
  color: $color-warning-600 !important;
}

.full-success {
  background-color: $color-success-600 !important;
  color: $color-success-600 !important;
}

// icon
.vue-feather {
  vertical-align: middle;
}

.btn {
  &-primary {
    border-color: $color-primary-600;
    background-color: $color-primary-600 !important;
    color: $color-white !important;
  }

  &-error {
    border-color: $color-error-600;
    background-color: $color-error-600 !important;
    color: $color-white !important;
  }

  &-warning {
    border-color: $color-warning-600;
    background-color: $color-warning-600 !important;
    color: $color-white !important;
  }

  &-success {
    border-color: $color-success-600;
    background-color: $color-success-600 !important;
    color: $color-white !important;
  }

  &-dark {
    border-color: $color-gray-700;
    background-color: $color-gray-700 !important;
    color: $color-white !important;
  }
  //border color-50
  &-50-primary {
    border-color: $color-primary-300;
    color: $color-primary-600 !important;
    background-color: $color-white !important;
  }

  &-50-error {
    border-color: $color-error-300;
    color: $color-error-600 !important;
    background-color: $color-white !important;
  }

  &-50-warning {
    border-color: $color-warning-300;
    color: $color-warning-600 !important;
    background-color: $color-white !important;
  }

  &-50-success {
    border-color: $color-success-300;
    color: $color-success-600 !important;
    background-color: $color-white !important;
  }

  &-50-dark {
    border-color: $color-gray-300;
    color: $color-gray-700 !important;
    background-color: $color-white !important;
  }
}

/* shadow */
.shadow-lg {
  box-shadow: $box-shadow-lg !important;
}

.shadow-md {
  box-shadow: $box-shadow-md !important;
}

.shadow-xs {
  box-shadow: $box-shadow-xs !important;
}

.shadow-sm {
  box-shadow: $box-shadow-sm !important;
}

.shadow-xl {
  box-shadow: $box-shadow-xl !important;
}

.shadow-2xl {
  box-shadow: $box-shadow-2xl !important;
}

.shadow-3xl {
  box-shadow: $box-shadow-3xl !important;
}

/* background card */
.bg-primary-50 {
  background-color: $color-primary-50 !important;
}

.bg-success-50 {
  background-color: $color-success-50 !important;
}

.bg-warning-50 {
  background-color: $color-warning-50 !important;
}

.bg-pink-50 {
  background-color: $color-pink-50 !important;
}

.bg-error-50 {
  background-color: $color-error-50 !important;
}

.bg-error {
  background-color: $color-error-600 !important;
}

.bg-success {
  background-color: $color-success-600 !important;
}

.bg-white {
  background-color: $color-white !important;
}

.no-background {
  background-color: transparent;
}
.card-container {
  border-radius: 8px;
  padding: 24px;
  background: rgb(var(--v-theme-surface));
  /* Shadow/md */
  box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
    0px 4px 8px -2px rgba(16, 24, 40, 0.1);
}
// .outline-dark {
//   background-color: $color-gray-700;
// }

/** cusor */
.cusor-pointer {
  cursor: pointer;
}

// group tree
.group-child-1 {
  padding-inline-start: 20px;
}

.group-child-2 {
  padding-inline-start: 40px;
}

.group-child-3 {
  padding-inline-start: 60px;
}

.group-child-4 {
  padding-inline-start: 80px;
}

.border-left-primary {
  border-inline-start: 1px solid $color-primary-700;
}

.border-left-error {
  border-inline-start: 1px solid $color-error-700;
}

.border-left-warning {
  border-inline-start: 1px solid $color-warning-700;
}

.border-left-success {
  border-inline-start: 1px solid $color-success-700;
}

.border-left-dark {
  border-inline-start: 1px solid $color-gray-700;
}

.cursor-pointer {
  cursor: pointer;
}

.font-weight-600 {
  font-weight: $weight-md;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--v-color-text));
}

span {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 172);
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

// INPUT//
.border-input-default {
  border: $border-input;
}

.page-containter {
  padding: $xl-5;
}
.page-container-box {
  margin-top: $xl-4;
  border-radius: $sm;
  border: 1px solid #eaecf0;
  box-shadow: $box-shadow-md;
  padding: $xl-5;
}

.text-errors {
  color: $color-error-600 !important;
  line-height: 12px;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  transition-duration: 150ms;
  font-size: 12px;
  padding: 6px 16px 0;
  font-weight: 400px;
}
.text-ellipsis {
  word-break: break-word;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-noWrap {
  text-wrap: nowrap;
}
//icon notifi
.icon-noti {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 50px;
  inline-size: 50px;

  .ring1 {
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    block-size: 32px;
    inline-size: 32px;
  }

  .ring2 {
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    block-size: 52px;
    inline-size: 52px;
  }

  .ring1-type-0 {
    background-color: $color-success-100;
  }

  .ring2-type-0 {
    background-color: $color-success-50;
  }

  .ring1-type-1 {
    background-color: $color-warning-100;
  }

  .ring2-type-1 {
    background-color: $color-warning-50;
  }

  .ring1-type-2 {
    background-color: $color-error-100;
  }

  .ring2-type-2 {
    background-color: $color-error-50;
  }

  .ring1-type-3 {
    background-color: $color-primary-100;
  }

  .ring2-type-3 {
    background-color: $color-primary-50;
  }
  .ring1-type-4 {
    background-color: $color-gray-100;
  }

  .ring2-type-4 {
    background-color: $color-gray-50;
  }

  .noti-zindex {
    z-index: 10;
  }
}
.icon-noti-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 90px;
  inline-size: 90px;

  .ring1 {
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    block-size: 60px;
    inline-size: 60px;
  }

  .ring2 {
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    block-size: 90px;
    inline-size: 90px;
  }

  .ring1-type-0 {
    background-color: $color-success-100;
  }

  .ring2-type-0 {
    background-color: $color-success-50;
  }

  .ring1-type-1 {
    background-color: $color-warning-100;
  }

  .ring2-type-1 {
    background-color: $color-warning-50;
  }

  .ring1-type-2 {
    background-color: $color-error-100;
  }

  .ring2-type-2 {
    background-color: $color-error-50;
  }

  .ring1-type-3 {
    background-color: $color-primary-100;
  }

  .ring2-type-3 {
    background-color: $color-primary-50;
  }

  .noti-zindex {
    z-index: 10;
  }
}

.w-max-content {
  width: max-content;
}

[class*="primary"]:focus {
  z-index: 99;
  box-shadow: 0px 1px 2px #1018280d, 0px 0px 0px 4px rgb(var(--v-primary-100)) !important;
}

[class*="warning"]:focus {
  z-index: 99;
  box-shadow: 0px 1px 2px #1018280d, 0 0 0 4px rgb(var(--v-warning-100)) !important;
}

[class*="secondary"]:focus {
  z-index: 99;
  box-shadow: 0 1px 2px #1018280d, 0 0 0 4px rgb(var(--v-gray-100)) !important;
}

[class*="success"]:focus {
  z-index: 99;
  box-shadow: 0 1px 2px #1018280d, 0 0 0 4px rgb(var(--v-success-100)) !important;
}

[class*="error"]:focus {
  z-index: 99;
  box-shadow: 0 1px 2px #1018280d, 0 0 0 4px rgb(var(--v-error-100)) !important;
}

[class*="v-col"] {
  padding: 8px 12px !important;
}
[class*="v-row"] {
  margin: -8px -12px !important;
}
.embed-responsive {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
.embed-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.message-progess {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/***margin âm***/
// margin top
@for $i from 0 through 10 {
  .mtn-#{$i} {
    margin-top: (-4 * $i) + px !important;
  }
}
// margin right
@for $i from 0 through 10 {
  .mrn-#{$i} {
    margin-right: (-4 * $i) + px !important;
  }
}
// margin bottom
@for $i from 0 through 10 {
  .mbn-#{$i} {
    margin-bottom: (-4 * $i) + px !important;
  }
}
// margin left
@for $i from 0 through 10 {
  .mln-#{$i} {
    margin-left: (-4 * $i) + px !important;
  }
}
// margin inline
@for $i from 0 through 10 {
  .mxn-#{$i} {
    margin-inline: (-4 * $i) + px !important;
  }
}
// margin block
@for $i from 0 through 10 {
  .myn-#{$i} {
    margin-block: (-4 * $i) + px !important;
  }
}
// margin
@for $i from 0 through 10 {
  .mn-#{$i} {
    margin: (-4 * $i) + px !important;
  }
}
.pxn {
  padding-inline: 0px !important;
}

//radio
.v-radio-group .v-selection-control-group .v-radio:not(:last-child) {
  margin-inline-end: 2rem;
}
.answer-fill-blank {
  margin: 5px;
  padding: 0.438rem 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(var(--v-gray-300));
  border-radius: 0.357rem;
  display: inline-block;
  user-select: none;
}
.answer-underline {
  user-select: none;
  color: rgb(var(--v-primary-600));
  font-weight: 500;
}
.cursor-move {
  cursor: move;
}
.chooseAnsPld {
  color: rgb(var(--v-gray-300));
}
.answer-select {
  margin: 5px;
  padding: 0.438rem 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(var(--v-gray-300));
  border-radius: 0.357rem;
  display: inline-block;
  user-select: none;
}
