@use "./variables/global" as *;

// Màu error
.color-error {
  color: $color-error-600;
}

.color-warning {
  color: $color-warning-600;
}

.color-success {
  color: $color-success-600;
}

.color-dark {
  color: $color-gray-700;
}

.color-primary {
  color: $color-primary-600;
}

// icon
.vue-feather {
  vertical-align: middle;
}
